<form action="" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Name" required value="<%- user.name %>" />

  <button type="submit">Submit</button>
</form>
